[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-client-handshake = FALSE
character-set-server           = utf8mb4
collation-server               = utf8mb4_unicode_ci
default-time-zone              = '+9:00'

log_bin   = mysql-bin
server_id = 2

log_slave_updates = 1
relay_log         = /var/lib/mysql/mysql-relay-bin

# 슬레이브 서버를 읽기 전용 모드로 설정
read_only = 1

default_authentication_plugin = mysql_native_password
